@import "/style.css"; 

.aboutme{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.aboutme>h2{

    font-family: var(--font-family-4);
}
main{
    color:var(--color);
    font-family: var(--font-family-4);
}

.aboutme-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    /* background-color:var(--green-1); */

}

.aboutme-skills>li{

    padding:2px 8px;
    /* margin-bottom: 2px; */
    background-color:var(--green-1);
    border-radius: 1rem;
    height: 90%;
}
.aboutme-skills>li>p{
    margin: 0;
    padding: 0;
}

.aboutme>img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}
.aboutme>a{
    color: var(--color);
    height: 44px;
    /* font-size: 33px; */
}
.aboutme>a:hover{
    color:var(--green-1)
}

@media screen and (max-width:768px){
    .aboutme{
        padding-top: 7rem;

    
    }
}
@keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }