@import "/style.css";

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-4);
    position:fixed;
    top: 0px;
    left: 0px;
    width:100%;
    background-color: var(--background-color);
    margin-top: 0;
    padding-top: 0;
    gap: 0;
    z-index: 0;
    /* unicode-bidi: isolate; */
}


header,nav>ul>li>a{
    color:white;
}
nav{
    width:70%
}
nav>ul{
    display: flex;
    justify-content: space-around;
}
nav>ul>li>a:hover{
    font-family: var(--font-family-3);

}
