@import "/style.css";

.change-button{
    display: flex;
    justify-content: center;
padding-top:5px;

    
}

.change-button>button{
height:  100%;
padding:3px;
font-family: var(--font-family-4);
}