@import "/style.css";

main{
    color:var(--color);
    font-family: var(--font-family-4);
}
.aboutMe-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.aboutMe-skills>li{
    padding-left: 5px;
    padding-right: 5px;


}

@keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }